<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shows</title>
</head>

<body>
    <h1>My Shows</h1>

    <ul>
        <% movies.results.forEach((u)=> { %>
            <a href="/detail/<%- u.id %>">
                <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2<%- u.poster_path%>" alt="movie_poster">

                <p>
                    <%- u.title %> (<%- u.vote_average %>⭐️)
                </p>

            </a>


            <% }) %>
    </ul>
</body>

</html>